.navbar {
  position: fixed;
  top: 0;
  height: 60px;
  width: 100%;
  color: #000000;
  background-color: #73c5aa;
  display: flex;
}

.navbar__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0.4;
}

.logo {
  height: 50px;
  object-fit: contain;
}

.navbar__links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0px 30px;
  width: 100%;
}

.navbar__links > a {
  text-decoration: none;
  color: #000000;
}

.navbar__links > a:visited {
  color: #000000;
}

.navbar__links > a > p {
  margin: 0 20px;
  color: #000000;
}

.navbar__links > p {
  margin: 0 20px;
}

.navbar__cart > a {
  text-decoration: none;
  color: #000000;
}
